@media (max-width:927px) {
    .header{ padding-top: 0;margin-top: 0;}
    nav  {margin-left: 50px;
        display: block;
        align-items: start;
    }
    .banner{
        padding: 10px 10px 0px 90px;
        display: flex;
        align-items: start;
        justify-content: space-between;  
    }
    .banner-content{ height: fit-content;
        min-width: 40%;padding-top: 70px;
    }
    .banner .profile{
        width: 350px;
    }
    .banner-title{
       font-size: 70px;
       font-weight: 600;
       margin-left: 10px;
       margin-top: 1px;
       margin-bottom: 10px;
    }
    .project-container{
        width: 100%;
        gap:20px;flex-wrap: nowrap;
    }
    .about{ width: 85vw;}
  .resume-column{ gap: 10px; }
  hr{display: none; }

}
@media (max-width:844px) {
    .btn-primary{font-size: medium;
        padding: 10px 20px;margin-top: 5px;
    }
    .banner .profile{
        width: 350px;
    }
}
@media (max-width:844px) {
    .banner .profile{display: none;    }
}
@media (max-width:760px) {
    nav li {
        margin-right: 30px; font-weight: bold;
    }
    .banner-title{
        font-size: 50px;
        font-weight: 650;
        margin-left: 10px;
        margin-top: 1px;
        margin-bottom: 10px;
     }
     .banner .profile{width: 210px;height:310px;  }
  .about-container img{margin-left: 10%  }
  
  .project-container{display: block; }
  .resume-container hr{ margin:10px;  }
  .resume{ padding: 20px;  }
  .resume-column{ gap: 5px;flex-wrap: wrap;}

}
@media (max-width:645px) {
    .banner .profile{display: none;    }
   .about-container img{margin-left: 8%}
   .contact-container{ gap: 3rem;}

}
@media (max-width:607px) {

    .about{ display: block;width: 78vw;}
   .about-container img{margin-left:13%;align-items: center;}
   .about-info-conatiner{margin-left: 0;}
   .btn-primary{ cursor: pointer;    border-radius: 5px;
      margin-top: 5px;    font-size: 1rem;    
      font-weight: 600;    padding: 10px 20px; }
    nav li{margin-top: 20px; text-align: end;}
    nav  ul{display: block;background-color: #fec399;;position: absolute;top: -250px;right: 10px;transition: all 0.5s ease-in-out;width: 50vw;    }
    input{ z-index: 1; width: 20px;height: 20px;}
    .menu-hamburger{display:block;font-size: 30px; position: absolute;top: 40px;right: 20px;}

   #click:checked ~ ul{
    top: 70px;
   }
    .contact-container{ gap: 1rem;}

}
@media (max-width:607px) {
    .contact-container{display: block;    }
    .icons-container i{margin: 0px 7px;font-size: 30px;}
    .find-me{ gap: 2rem;margin: 0rem;}
    .progress { height: 10px;}
    .btn-primary{ padding: 10px 15px;    }
    
}
@media (max-width:472px) {
    
}